@import url('./global.css');

header{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 20px 0px;
}
.nav-header ul{
    display: flex;
    gap: 30px;    
    list-style: none;
}

.nav-header ul li a{
    color: var(--color-secondary-dark);
    text-decoration: none;
    font-family: var(--font-body);    
}

.btn-header{
    background-color: var(--color-primary-orange);
    padding: 12px 30px;
    border-radius: 15px 3px;
    color: var(--color-secondary-white);
    text-decoration: none;
    font-family: var(--font-title);
    font-size: var(--font-button-size);    
}